<h3 class="title is-3">Categories</h3>

<div class="columns is-multiline">
  <%= render partial: 'category',
            collection: @categories,
            locals: {
              name_is_link: true,
              shows_products: false } %>
</div>