<h3 class="title is-3">Products</h3>

<%= paginate @products %>

<div class="columns is-multiline is-tablet is-desktop">
  <%= render partial: 'product',
              collection: @products,
              locals: { name_is_link: true } %>
</div>

<%= paginate @products %>